In [9]:
import pandas as pd

# Load and preprocess first file
df_glucose1 = pd.read_csv('BG.csv')
df_glucose1 = df_glucose1.rename(columns={
    'Timestamp (YYYY-MM-DDThh:mm:ss)': 'Timestamp',
    'Glucose Value (mmol/L)': 'Glucose'
})
df_glucose1 = df_glucose1[['Timestamp', 'Glucose']].dropna()
df_glucose1['Timestamp'] = pd.to_datetime(df_glucose1['Timestamp'])
df_glucose1 = df_glucose1.set_index('Timestamp').sort_index()
df_glucose1['Glucose'] = pd.to_numeric(df_glucose1['Glucose'], errors='coerce')

# Load and preprocess second file
df_glucose2 = pd.read_csv('BG-1.csv')
df_glucose2 = df_glucose2.rename(columns={
    'Date': 'Date',
    'Time': 'Time',
    'Sensor Glucose (mmol/L)': 'Glucose'
})
df_glucose2['Timestamp'] = pd.to_datetime(df_glucose2['Date'] + ' ' + df_glucose2['Time'], dayfirst=True)
df_glucose2 = df_glucose2[['Timestamp', 'Glucose']].dropna()
df_glucose2 = df_glucose2.set_index('Timestamp').sort_index()
df_glucose2['Glucose'] = pd.to_numeric(df_glucose2['Glucose'], errors='coerce')

# Concatenate the two dataframes
df_combined = pd.concat([df_glucose1, df_glucose2])

df_combined = df_combined.sort_index()

# Handle duplicates by averaging if multiple records have the same timestamp
df_combined = df_combined.groupby(df_combined.index).mean().dropna()

# Save the combined data to a new CSV file
df_combined.to_csv('UoM2304.csv')

# Display the combined data
df_combined

                     Glucose
Timestamp
2023-10-01 00:03:51     21.0
2023-10-01 00:08:50     21.1
2023-10-01 00:13:50     21.1
2023-10-01 00:18:51     21.1
2023-10-01 00:23:51     21.3
...                      ...
2024-02-01 09:43:26      6.8
2024-02-01 09:48:26      6.8
2024-02-01 09:53:26      6.8
2024-02-01 09:58:26      6.6
2024-02-01 10:03:26      6.6

[18602 rows x 1 columns]

In [8]:
duplicates = df_combined[df_combined.index.duplicated(keep=False)]
print(duplicates)

Empty DataFrame
Columns: [Glucose]
Index: []